/* Your styles here */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.logo {
  padding: 9px 2rem;
  background-color: #222f3e;
}

.logo img {
  width: 7.2em;
}

.menu {
  background-color: #364759;
  padding: 9px 2rem;
}

nav ul li {
  display: inline-block;
  margin-right: 16px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* MAIN */

main {
  padding: 1.7% 1.3% 1%;
  background-color: #eaeded;
}

.orangeBackground {
  background-color: #f56600;
  text-align: center;
  padding: 8px;
}

.orangeBackground a {
  color: white;
  text-decoration: none;
}

/* holiday background */
.holidayBackground {
  text-align: center;
  margin-top: 1.6em;
  background-image: url(/assets/images/bg-image.png);
  background-size: 100%;
  color: #eaeded;
  font-weight: bold;
  font-size: larger;
}

h1 {
  font-size: xx-large;
  padding-top: 4%;
}

.holidayBackground h2 {
  padding-bottom: 2.4%;
  margin-top: 26px;
}

/* 4 immagini inline */

.carousel {
  background-color: white;
  margin: 1.8% 0;
  padding: 1% 1.3% 0%;
}

.carousel h2,
.gaming h2,
.audio h2 {
  font-size: 130%;
  display: inline-block;
  margin-right: 1%;
}

.carousel a,
.gaming a,
.audio a {
  font-weight: bold;
  text-decoration: none;
  color: #007185;
}

.carousel div {
  width: 80%;
  margin: auto;
  padding-left: 6%;
}
.carousel img {
  margin: 15px;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.3);
}

/* 2 immagini grandi */

.gaming {
  text-align: center;
  margin-bottom: 2%;
}

.audio {
  text-align: center;
  margin-bottom: 1%;
}

.gaming img,
.audio img {
  width: 100%;
}

/* Footer */

.anchor {
  background-color: #364759;
  text-align: center;
  padding: 1em;
}

.anchor a {
  color: white;
  font-weight: bold;
}

footer img {
  width: 10.5em;
}
.footerLogo {
  background-color: #222f3e;
  text-align: center;
  padding: 3%;
}
